<%= form_for(@production_record) do |f| %>
  <% if @production_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_record.errors.count, "error") %> prohibited this production_record from being saved:</h2>

      <ul>
      <% @production_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :finish %><br>
    <%= f.datetime_select :finish %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
