<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @production_record.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @production_record.finish %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @production_record.quantity %>
</p>

<%= link_to 'Edit', edit_production_record_path(@production_record) %> |
<%= link_to 'Back', production_records_path %>
