<%- model_class = WorkPlan -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @work_plan.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @work_plan.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_standard) %>:</strong></dt>
  <dd><%= @work_plan.is_standard %></dd>

  <dt><strong><%= model_class.human_attribute_name(:work_steps) %>:</strong></dt>
  <dd>
    <div class="form-group">
      <table class="table table-hover">
        <thead>
          <th>Name</th>
          <th></th>
        </thead>
        <tbody>
        <% @work_steps.each do |w| %>
            <tr>
              <td><%= link_to w.name, edit_work_plan_work_step_path(w.work_plan_id, w.id) %></td>
              <td>
                <%= link_to ("<span class=\"glyphicon glyphicon-trash\" ></span>").html_safe,
                            [@work_plan, w],
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-xs btn-danger pull-right' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <%= link_to ('<span class="glyphicon glyphicon-plus"></span>').html_safe + ' ' + t('.addWorkStep', :default => t("helpers.links.new")),
                  new_work_plan_work_step_path(@work_plan),
                  :class => 'btn btn-default pull-right' %>
    </div>
  </dd>

</dl>

<div class="btn-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              work_plans_path, :class => 'btn btn-primary' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_work_plan_path(@work_plan), :class => 'btn btn-primary btn-success' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              work_plan_path(@work_plan),
              :method => 'delete',
              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
              :class => 'btn btn-primary btn-danger' %>
</div>



