<div class="panel panel-default">
  <div class="panel-heading"><%="Favoriten".titleize %></div>

      <table class="table">
        <thead>
        <tr>
          <th><%= ProductionOrder.human_attribute_name(:number) %></th>
          <th><%= ProductionOrder.human_attribute_name(:article) %></th>
          <th><%= ProductionOrder.human_attribute_name(:quantity) %></th>
          <th><%= ProductionOrder.human_attribute_name(:pending_quantity) %></th>
          <th><%= ProductionOrder.human_attribute_name(:due_date) %></th>
          <th><%= ProductionOrder.human_attribute_name(:isCompleted) %></th>
          <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        <% @favorites.each do |production_order| %>
            <tr>
              <td><%= link_to production_order.number, edit_production_order_path(production_order) %></td>
              <td><%= production_order.article.display_name %></td>
              <td><%= production_order.quantity %></td>
              <td><%= production_order.pending_quantity %></td>
              <td><%=l production_order.due_date %></td>
              <td><%= production_order.isCompleted %></td>
              <td>
                <% if current_user %>
                    <%= link_to ("<span class=\"glyphicon glyphicon-star-empty\" ></span>").html_safe,
                                favorite_production_order_path(production_order, type: "unfavorite"),
                                method: :put,
                                :class => 'btn btn-xs btn-warning'%>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
</div>
