<%= form_for @production_order, :html => {:class => "form-horizontal production_order"} do |f| %>

    <% if @production_order.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@production_order.errors.count, "error") %> prohibited this
              production_order from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @production_order.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :number, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :number, :class => 'form-control', :placeholder => 'Nummer eingeben' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :article, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.collection_select :article_id, Article.harnesses.all, :id, :display_name, {:prompt => true}, {:class => 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :customer, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.collection_select :customer_id, Customer.all, :id, :display_name, {:prompt => true}, {:class => 'form-control'} %>
      </div>
    </div>



    <div class="form-group">
      <%= f.label :description, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :description, :class => 'form-control', :placeholder => 'Beschreibung eingeben' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :quantity, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :quantity, :class => 'form-control', :placeholder => 'Losgröße eingeben' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :release_date, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :release_date, :class => 'form-control', 'data-provide' => 'datepicker' %>
      </div>

      <%= f.label :due_date, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :due_date, :class => 'form-control', 'data-provide' => 'datepicker' %>
      </div>
    </div>


    <% if @production_order.new_record? %>
        <div class="form-group">
          <%= f.label :work_plan, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.collection_select :work_plan_id, WorkPlan.all, :id, :name, {:prompt => true}, {:class => 'form-control'} %>
          </div>
        </div>
    <% else %>
        <div class="form-group">
          <%= f.label :production_work_steps, :class => 'control-label col-lg-2' %>

          <div class="col-lg-10">
            <table class="table">
              <thead>
              <th>Name</th>
              <th></th>
              </thead>
              <tbody>
              <% @production_work_steps.each do |w| %>
                  <tr>
                    <td><%= w.name %></td>
                    <td>
                      <%= link_to ("<span class=\"glyphicon glyphicon-trash\" ></span>").html_safe,
                                  [@production_order, w],
                                  :method => :delete,
                                  :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                                  :class => 'btn btn-xs btn-danger pull-right' %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>

            <%= link_to ('<span class="glyphicon glyphicon-plus"></span>').html_safe + ' ' + t('.addProductionWorkStep', :default => t("helpers.links.new")),
                        new_production_order_production_work_step_path(@production_order),
                        :class => 'btn btn-default pull-right' %>
          </div>

        </div>

        <div class="form-group">
          <%= f.label :production_order_attachments, :class => 'control-label col-lg-2' %>

          <div class="col-lg-10">
            <table class="table">
              <thead>
              <th>Name</th>
              <th></th>
              </thead>
              <tbody>
              <% @production_order_attachments.each do |a| %>
                  <tr>
                    <td><%= link_to a.name, a.attachment_url %></td>
                    <td>
                      <%= link_to ("<span class=\"glyphicon glyphicon-trash\" ></span>").html_safe,
                                  [@production_order, a],
                                  :method => :delete,
                                  :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                                  :class => 'btn btn-xs btn-danger pull-right' %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>

            <%= link_to ('<span class="glyphicon glyphicon-plus"></span>').html_safe + ' ' + t('.addProductionOrderAttachment', :default => t("helpers.links.new")),
                        new_production_order_production_order_attachment_path(@production_order),
                        :class => 'btn btn-default pull-right' %>
          </div>
        </div>
    <% end %>


    <div class="form-group">
      <%= f.label :production_records, :class => 'control-label col-lg-2' %>

      <div class="col-lg-10">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= ProductionRecord.human_attribute_name(:production_work_step) %></th>
            <th><%= ProductionRecord.human_attribute_name(:start) %></th>
            <th><%= ProductionRecord.human_attribute_name(:finish) %></th>
            <th><%= ProductionRecord.human_attribute_name(:is_finished) %></th>
            <th><%= ProductionRecord.human_attribute_name(:quantity) %></th>
            <th><%= ProductionRecord.human_attribute_name(:duration_in_minutes) %></th>
          </tr>
          </thead>
          <tbody>
          <% @production_order.production_records.each do |production_record| %>
              <tr>
                <td><%= production_record.production_work_step.name %></td>
                <td><%= l production_record.start %></td>
                <td><%= l production_record.finish.presence || Time.now %></td>
                <td><%= production_record.is_finished ? 'Ja' : 'Nein' %></td>
                <td><%= production_record.quantity %></td>
                <td class="text-right"><%= production_record.duration_in_minutes %></td>
              </tr>
          <% end %>
              <tr>
                <td colspan="7" class="text-right"><%= @production_order.production_records.map{|a| a.duration_in_minutes}.sum.round(2) %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="form-group">
      <div class="btn-group col-lg-offset-2 col-lg-10">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), production_orders_path, :class => 'btn btn-primary' %>
        <%= f.submit nil, :class => 'btn btn-primary btn-success' %>

        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    @production_order,
                    :method => :delete,
                    :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                    :class => 'btn btn-primary btn-danger' %>
      </div>
    </div>



<% end %>
