<%= form_tag({:controller => "production_record_assistant", :action => "production_work_step_select"},
             :id => 'production_work_step_selection_form', :method => "get", :class => "form-horizontal", remote: true) do %>

    <%= hidden_field_tag :production_order, @production_order.id %>

    <div class="form-group">
      <%= label_tag 'production_order_label', 'Produktionsauftrag', class: 'control-label col-lg-2' %>

      <div class="col-lg-10">
        <%= label_tag 'production_order_displayName', @production_order.display_name_with_article, class: 'control-label' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag 'name', 'Arbeitsschritt', class: 'control-label col-lg-2' %>

      <div class="col-lg-10">
        <%= select_tag :production_work_step,
                       options_from_collection_for_select(@production_work_steps, :id, :name),
                       class: 'form-control' %>
      </div>

    </div>


    <div class="form-group">
      <div class="btn-group col-lg-offset-2 col-lg-10">
        <%= submit_tag "Weiter", :name => nil, class: 'btn btn-default pull-right' %>
      </div>
    </div>
<% end %>